<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletApp</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>coreservlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/show-form-result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRequestHeaders</display-name>
    <servlet-name>ShowRequestHeaders</servlet-name>
    <servlet-class>coreservlet.requestheaders.ShowRequestHeaders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRequestHeaders</servlet-name>
    <url-pattern>/show-request-headers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LongServlet</display-name>
    <servlet-name>LongServlet</servlet-name>
    <servlet-class>coreservlet.LongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LongServlet</servlet-name>
    <url-pattern>/long-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitResume</display-name>
    <servlet-name>SubmitResume</servlet-name>
    <servlet-class>coreservlet.SubmitResume</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitResume</servlet-name>
    <url-pattern>/submit-resume</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>coreservlet.responseheaders.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/redirect-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowserInsult</display-name>
    <servlet-name>BrowserInsult</servlet-name>
    <servlet-class>coreservlet.requestheaders.BrowserInsult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowserInsult</servlet-name>
    <url-pattern>/browser-insult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEngineForm</display-name>
    <servlet-name>SearchEngineForm</servlet-name>
    <servlet-class>coreservlet.responseheaders.SearchEngineForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEngineForm</servlet-name>
    <url-pattern>/search-engine-form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEngine</display-name>
    <servlet-name>SearchEngine</servlet-name>
    <servlet-class>coreservlet.responseheaders.SearchEngine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEngine</servlet-name>
    <url-pattern>/search-engine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelServlet</display-name>
    <servlet-name>ExcelServlet</servlet-name>
    <servlet-class>coreservlet.mimetypes.ExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelServlet</servlet-name>
    <url-pattern>/excel-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShadowedText</display-name>
    <servlet-name>ShadowedText</servlet-name>
    <servlet-class>coreservlet.mimetypes.ShadowedText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShadowedText</servlet-name>
    <url-pattern>/show-shadowed-text</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>coreservlet.cookies.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/cookie-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientAccessCounts</display-name>
    <servlet-name>ClientAccessCounts</servlet-name>
    <servlet-class>coreservlet.cookies.ClientAccessCounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientAccessCounts</servlet-name>
    <url-pattern>/client-access-counts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitNumber</display-name>
    <servlet-name>VisitNumber</servlet-name>
    <servlet-class>coreservlet.cookies.VisitNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitNumber</servlet-name>
    <url-pattern>/visit-number</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>coreservlet.cookies.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/registration-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationForm</display-name>
    <servlet-name>RegistrationForm</servlet-name>
    <servlet-class>coreservlet.cookies.RegistrationForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationForm</servlet-name>
    <url-pattern>/registration-form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSession</display-name>
    <servlet-name>ShowSession</servlet-name>
    <servlet-class>coreservlet.sessiontracking.ShowSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSession</servlet-name>
    <url-pattern>/show-session</url-pattern>
  </servlet-mapping>
</web-app>