<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletApp</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>coreservlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/show-form-result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRequestHeaders</display-name>
    <servlet-name>ShowRequestHeaders</servlet-name>
    <servlet-class>coreservlet.ShowRequestHeaders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRequestHeaders</servlet-name>
    <url-pattern>/show-request-headers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LongServlet</display-name>
    <servlet-name>LongServlet</servlet-name>
    <servlet-class>coreservlet.LongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LongServlet</servlet-name>
    <url-pattern>/long-servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitResume</display-name>
    <servlet-name>SubmitResume</servlet-name>
    <servlet-class>coreservlet.SubmitResume</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitResume</servlet-name>
    <url-pattern>/submit-resume</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>coreservlet.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/redirect-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowserInsult</display-name>
    <servlet-name>BrowserInsult</servlet-name>
    <servlet-class>coreservlet.BrowserInsult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowserInsult</servlet-name>
    <url-pattern>/browser-insult</url-pattern>
  </servlet-mapping>
</web-app>